@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

:root {
	--primary-font: "Nunito", sans-serif;
	--text-weight-900: 900;
	--primary-purple: rgb(37, 20, 68);
	--primary-green: rgb(0, 150, 112);
	--primary-lightgreen: rgb(137, 255, 225);
}

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(234, 255, 241);
}
#root {
	margin: auto 0;
}
h1 {
	font-weight: var(--text-weight-900);
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	font-size: 2rem;
	font-weight: 700;
	font-family: var(--primary-font);
	outline: none;
	cursor: pointer;
	background-color: white;
	border-radius: 4px;
	padding: 0 1.65rem;
	margin: 0.2rem;
	color: var(--primary-green);
	color: black;
}

.Squares {
	margin: 0 auto;
	margin-top: 8rem;
	height: 250px;
	width: 250px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.container {
	margin-top: 2rem;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
}

.resetBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 0 auto;
	font-weight: 900;
	font-size: 16px;
	padding: 10px 20px;
	color: #361b44;
	transition: ease-in-out 150ms;
}

.resetBtn:hover {
	transform: scale(1.2);
}

.Winner {
	color: rgb(253, 101, 0);
}

button:hover {
	background-color: var(--primary-purple);
	color: var(--primary-lightgreen);
}

button:focus {
	opacity: 0.95;
	transition: opacity 0.2s;
}
