* {
	max-width: 940px;
}

.chintan {
	position: absolute;
	width: 605px;
	height: 112px;
	left: 87px;
	top: 10px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 75px;
	line-height: 112px;

	color: #000000;
}

.details {
	position: absolute;
	width: 500px;
	height: 80px;
	left: 87px;
	top: 175px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 40px;
	/* or 160% */

	color: #000000;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
}

.earth {
	position: absolute;
	display: block;
	right: 0;
	width: 20%;
	/* left: 77.71%; */
	/* right: -4.19%; */
	top: -2.92%;
	bottom: 77.73%;
}

/** Common */

.container-div {
	position: absolute;
	top: 518px;
	width: 208px;
	height: 355px;
	border-radius: 15px;

	transition: box-shadow 0.2s, top 0.2s, left 0.2s;
	cursor: pointer;
	box-shadow: 0 0 0 -1px var(--background), 0 0 0 0 var(--green);
}
.container-div:hover {
	box-shadow: 7px -5px 0 -3px white, 7px -5px rgba(3, 65, 39, 0.712);
}

.image-div {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.title-text {
	position: absolute;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	height: 80px;
	cursor: pointer;
	pointer-events: none;

	top: 690px;

	display: flex;
	align-items: flex-end;

	color: #363636;
}

.share-icon {
	cursor: pointer;
	position: absolute;
	height: 24px;
	top: 820px;
}

/* About me */

.aboutme-container-div {
	left: 87px;
	background: linear-gradient(0deg, #9dd4fb, #9dd4fb), #ffa128;
}
.aboutme-container-div:hover {
	box-shadow: 7px -5px 0 -3px white, 7px -5px rgba(3, 65, 39, 0.712);
}
.aboutme-img {
	width: 214px;
	height: 267px;
	left: 107px;
	top: 448px;
}

.aboutme-text {
	width: 167px;
	left: 107px;
}

.aboutme-share {
	left: 107px;
}

/* Serivices */

.services-container-div {
	left: 345px;
	background: rgba(255, 129, 129, 0.94);
}

.services-img {
	height: 275px;
	left: 377px;
	top: 453px;
}

.services-text {
	width: 167px;
	left: 365px;
}

.services-share {
	left: 365px;
}

/* Projects */

.projects-container-div {
	left: 603px;
	background: linear-gradient(213.65deg, #75ffc0 0%, #7ceaf4 100%),
		linear-gradient(0deg, #a6f7d0, #a6f7d0), #ffa128;
}

.projects-img {
	height: 188px;
	left: 613px;
	top: 540px;
}

.projects-text {
	width: 167px;
	left: 623px;
}

.projects-share {
	left: 623px;
}

/* contact */

.contact-container-div {
	left: 861px;
	background: #e2beff;
}

.contact-img {
	position: absolute;
	width: 236px;
	height: 186px;
	left: 895px;
	top: 524px;
}

.contact-text {
	width: 167px;
	left: 881px;
}

.contact-share {
	left: 881px;
}

/* resume */

.resume-container-div {
	left: 1119px;
	background: #ffb351;
}

.resume-img {
	width: 150px;
	height: 332px;
	left: 1148px;
	top: 383px;
}

.resume-text {
	width: 167px;
	left: 1139px;
}

.resume-share {
	left: 1139px;
}
